{% extends "user_settings.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block include %}

{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'modify_event.css' %}">
{#<link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">#}
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/static/ui/semantic/dist/semantic.min.js"></script>
<!-- <script src="{% static 'table2csv.js' %}" type="text/javascript"></script> -->
<script src="{% static 'modify_class_team.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'colors.css' %}">

{% endblock %}

{% block title %}

<title>{{ title }}</title>

{% endblock %}

{% block settings_content %}
    
<div class="settings_title">
    <font face="Nato Sans">
        编辑赛事
    </font>
</div>

<div class="d-inline-flex btn-div">
    <button class="btn btn-outline-info" id="save-button">
        保存
    </button>
    <button class="btn btn-outline-info" id="delete-button">
        删除
    </button>
</div>
    
{#<div class="ui six buttons fluid">#}
{#    <button class="ui button color1">鹅冠红 #c03433</button>#}
{#    <button class="ui button color2">酱紫 #471619</button>#}
{#    <button class="ui button color3">松叶牡丹红 #da4e71</button>#}
{#    <button class="ui button color4">桔梗紫 #784280</button>#}
{#    <button class="ui button color5">满天星紫 #2e3377</button>#}
{#    <button class="ui button color6">品蓝 #4073aa</button>#}
{#</div>#}
{#<div class="ui six buttons fluid">#}
{#    <button class="ui button color7">蓝绿 #4a9e84</button>#}
{#    <button class="ui button color8">油绿 #2a3c26</button>#}
{#    <button class="ui button color9">柚黄 #ebca47</button>#}
{#    <button class="ui button color10">雄黄 #f09d37</button>#}
{#    <button class="ui button color11">海天蓝 #cce6e7</button>#}
{#    <button class="ui button color12">法螺红 #df865e</button>#}
{#</div>#}
{#<div class="ui six buttons fluid">#}
{#    <button class="ui button color13">米色 #f7e9cf</button>#}
{#    <button class="ui button color14">淡赭 #b58152</button>#}
{#    <button class="ui button color15">银鼠灰 #b2aa93</button>#}
{#    <button class="ui button color16">苔绿 #857331</button>#}
{#    <button class="ui button color17">茉莉黄 #f4df82</button>#}
{#    <button class="ui button color18">芦苇绿 #bcce84</button>#}
{#</div>#}
{#<div class="ui six buttons fluid">#}
{#    <button class="ui button color19">淡翠绿 #cbdeca</button>#}
{#    <button class="ui button color20">冰山蓝 #a5aba7</button>#}
{#    <button class="ui button color21">碧青 #71b1ca</button>#}
{#    <button class="ui button color22">菱锰红 #c67ca1</button>#}
{#    <button class="ui button color23">粉团花红 #e19fad</button>#}
{#    <button class="ui button color24">夏云灰 #657072</button>#}
{#</div>#}

<div id="optional-content">
    {% csrf_token %}
    {% crispy form form.helper %}
</div>

<script>
    const manage_url = "{% url 'league:class_team_manage' %}";
</script>

<!-- {% if has_value %}
<script type="text/javascript">
    const hide_form = false;
</script>
<style type="text/css">
    #new-button {
        display: none;
    }
</style>
{% else %}
<script type="text/javascript">
    const hide_form = true;
</script>
<style type="text/css">
    #save-button {
        display: none;
    }

    #delete-button {
        display: none;
    }

    #optional-content {
        display: none;
    }
</style> -->
{% endif %}

{% endblock %}