body{
    max-width: 100%;
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navigation-bar a{
    color: #444 !important;
}


.navigation-bar{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid #bbb; */
}

.navbar-expand-md .navbar-nav .nav-item{
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}


@media(min-width: 768px){
    .navigation-bar-right-links{
        margin-right: 16.666666%;
    }
}

.dropdown-button{
    color: #444 !important;
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;
}

.dropdown-button:hover{
    /* text-decoration: underline !important; */
}

.dropdown-button:active{
    /* text-decoration: underline !important; */
    /* font-weight: bold; */
}

.dropdown-button:focus{
    /* text-decoration: underline !important; */
    /* font-weight: bold; */
}

.dropdown{
    top: 2px;
}


@media(min-width: 1200px){
    .offset-xl-1_5{
        margin-left: 12.5%;
    }
}