.sign-up-content{
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 1400px;
    margin-top: 1.8rem;
}

@media(min-width: 992px){
    .sign-up-nav{
        max-width: 280px !important;
    }
}

@media(max-width: 991px){
    .sign-up-table{
        margin-top: 1rem;
    }
}

.sign-up-nav-row{
    height: 2.4rem;
    line-height: 1.7rem;
    margin: 0.3rem 0.1rem;
    display: flex;
    padding: 0;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

.sign-up-nav-row a{
    text-decoration: none !important;
    color: #4183C4 !important;
    font-size: 0.95rem;
    font-weight: 400;
    padding: 0.4rem 1rem;
    width: 100%;
    display: block;
}

.sign-up-table .table thead th{
    border-top: none;
    border-bottom-width: 1px;
    font-size: 0.95rem;
    border-bottom-color: rgba(34,36,38,0.15);
}

.sign-up-table .table tbody td{
    font-size: 0.95rem;
    border-top-color: rgba(34,36,38,0.15);
}

.border-success {
    color: #28a745;
    background: #28a7452e!important;
    border: none !important;
}

.border-danger {
    color: #dc3545;
    background: #dc35452e!important;
    border: none !important;
}

.border-info {
    color: #17a2b8;
    background: #17a2b82e!important;
    border: none !important;
}

.status-title{
    width: 5rem;
    padding-left: 1rem;
    font-size: 0.95rem;
}

.status-content{
    padding-left: 1.1rem !important;
}

.fa-check{
    color:limegreen;
}

.btn-primary {
    color: #007bff !important;
    background-color: #007bff2e !important;
    border: none !important;
}

.card{
    margin: auto;
    border-radius: 8px !important;
}

.btn-outline-info {
    color: #17a2b8 !important;
    background-color: #17a2b82e !important;
    border: none !important;
}

/*.btn-primary:hover {*/
/*    color: #fff;*/
/*    background-color: #007bff;*/
/*    border-color: #007bff;*/
/*}*/

.btn-danger {
    color: #dc3545 !important;
     background-color: #dc35452e !important;
    border: none !important;
}

/*.btn-danger:hover {*/
/*    color: #fff;*/
/*    background-color: #dc3545;*/
/*    border-color: #dc3545;*/
/*}*/

.btn{
    border-radius: 20px !important;
    padding: 2px;
}

.name-title{
    width: 11rem;
}

.list-group{
    border-color: #00000000;
    border-radius: 8px !important;
}

.cnum-title, .rnum-title{
    width: 5.5rem;
}

.cnum-content, .rnum-content{
    text-align: center;
}

@media(max-width: 767px){
    .cnum-title, .rnum-title, .cnum-content, .rnum-content, .type-title,.type-content{
        display: none;
    }
}

.op-title{
    width: 7rem;
}

.op-content{
    /* padding-left: 0 !important; */
    padding-right: 0 !important;
}

.op-content button{
    width: 5.8rem;
    padding: 0;
    margin-top: -0.1rem;
    height: 1.6rem;
}

.status-content span{
    vertical-align: middle;
}

.desc-full{
    display: flex;
    flex-direction: row;
}

.refresh-button{
    width: 5rem;
    height: 1.6rem;
}
.sign-up-content .spinner-border{
    height: 1.2rem !important;
    width: 1.2rem !important;
    margin: auto !important;
    border-width: 0.2em;
}

.desc-full button{
    width: 3.1rem;
    padding: 0;
    margin-top: -0.1rem;
}

.desc-full .col{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0.5rem;
    text-overflow: ellipsis;
}

.table{
    table-layout: fixed;
}

.fa-ban{
    color: crimson;
}

.fa-xmark{
    color: crimson;
}

.list-group-item{
    padding: 0.2rem 0.5rem !important;
    font-size: 0.9rem;
}

.desc-of-desc-title{
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.desc-of-desc-title h6{
    margin-bottom: 0;
}

.type-title{
    width: 5.5rem;
    text-align: center;
}

.type-content{
    text-align: center;
}