button.ui.button.color1 {
  background-color: #c03433;
  color: #ffffff;
}

button.ui.button.color2 {
  background-color: #471619;
  color: #ffffff;
}

button.ui.button.color3 {
  background-color: #da4e71;
  color: #ffffff;
}

button.ui.button.color4 {
  background-color: #784280;
  color: #ffffff;
}

button.ui.button.color5 {
  background-color: #2e3377;
  color: #ffffff;
}

button.ui.button.color6 {
  background-color: #4073aa;
  color: #ffffff;
}

button.ui.button.color7 {
  background-color: #4a9e84;
  color: #ffffff;
}

button.ui.button.color8 {
  background-color: #2a3c26;
  color: #ffffff;
}

button.ui.button.color9 {
  background-color: #ebca47;
  color: #ffffff;
}

button.ui.button.color10 {
  background-color: #f09d37;
  color: #ffffff;
}

button.ui.button.color11 {
  background-color: #cce6e7;
  color: #000000;
}

button.ui.button.color12 {
  background-color: #df865e;
  color: #ffffff;
}

button.ui.button.color13 {
  background-color: #f7e9cf;
  color: #000000;
}

button.ui.button.color14 {
  background-color: #b58152;
  color: #ffffff;
}

button.ui.button.color15 {
  background-color: #b2aa93;
  color: #ffffff;
}

button.ui.button.color16 {
  background-color: #857331;
  color: #ffffff;
}

button.ui.button.color17 {
  background-color: #f4df82;
  color: #000000;
}

button.ui.button.color18 {
  background-color: #bcce84;
  color: #000000;
}

button.ui.button.color19 {
  background-color: #cbdeca;
  color: #000000;
}

button.ui.button.color20 {
  background-color: #a5aba7;
  color: #ffffff;
}

button.ui.button.color21 {
  background-color: #71b1ca;
  color: #ffffff;
}

button.ui.button.color22 {
  background-color: #c67ca1;
  color: #ffffff;
}

button.ui.button.color23 {
  background-color: #e19fad;
  color: #ffffff;
}

button.ui.button.color24 {
  background-color: #657072;
  color: #ffffff;
}

body {
  background-color: #f5f5f7 !important;
}

.container-main {
  /*height: 100px;*/
  margin-top: 20px !important;
}

.container-grid {
  /*height: 150px;*/
  padding: 0 !important;
  margin: 0 0 20px;
}

.container-block {
  background-color: #ffffff;
  margin: 0 10px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.league-title {
  margin: 25px 0 10px;
  /*padding: 0 0 0 20px;*/
}

.league-title > h1 {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.league-time {
  margin: 0 0 20px;
}

.league-time > p {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
}

.league-teams {
  margin: 0 15px !important;
}

.league-team {
  /*height: 20px;*/
  padding: 0 !important;
  margin: 0 0 10px;
}

.league-team > p {
  font-size: 20px;
  line-height: 20px;
  /*text-align: center;*/
  font-weight: bold;
  word-wrap: break-word;
  color: #a1a1a1;
}

.league-scores {
  margin: 0 15px 20px !important;
}

.league-score {
  padding: 0 !important;
}

.league-score > p {
  font-size: 32px;
  line-height: 32px;
  /*text-align: center;*/
  font-weight: bolder;
}