.settings_title{
    font-size: 1.8em;
    font-weight: 700;
    padding-bottom: 0.6rem;
}

bold{
    font-weight: bolder;
}

@media(min-width: 992px){
    .settings_title{
        margin-top: -0.5rem;
    }
}

