.settings_title{
    border-bottom: 1px solid #bbb;
    font-size: 1.8em;
    font-weight: 700;
    padding-bottom: 0.6rem;
}

@media(min-width: 992px){
    .settings_title{
        margin-top: -0.5rem;
    }
}

