.entry-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.entry-container .entry-title {
    /* width: 80%; */
}

.entry-container .entry-title a {
    text-decoration-style: solid;
    text-decoration-line: none;
}

@media (max-width: 1200px) {
    .entry-container .entry-title {
        /* width: 60%; */
    }
}
.entry-row {
    padding: 0.55rem 0rem 0.55rem 0.1rem !important;
    margin: 0rem 1rem !important;
    height: 2.8rem;
    line-height: 1.7rem;
    font-size: 0.95rem;
    text-align: left;
    border-bottom: none !important;
    justify-content: space-between;

}

.appeal-link:hover {
    cursor: pointer;
}

.appeal-window-shadow {
    color:red;
}

.entry-link:hover {
    cursor: pointer;
}
