{% extends 'base.html' %}

{% load static %}

{% block include %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

{% endblock %}

{% block title %}

<title>{{ title }}</title>

{% endblock %}

{% block body %}

<div class="row" style="margin-left: 0 !important;margin-right: 0 !important;">
    <div class="col-xl-6 col-md-8 offset-xl-1_5">
{#        <div class="home-container">#}
        <div class="home-container-title">
            <i class="fa-solid fa-comment"></i>
            <font face="微软雅黑" class="title-text">公告</font>
        </div>
            <div class="notice-container">
{#                <div class="row notice-row">#}
{#                    <div class="notice-title notice-category">#}
{#                        <font face="微软雅黑">标题</font>#}
{#                    </div>#}
{#                    <div class="notice-date notice-category">#}
{#                        <font face="微软雅黑">日期</font>#}
{#                    </div>#}
{#                </div>#}
                {% autoescape off %}
                {{ notice_content }}
                {% endautoescape %}
            </div>
{#        </div>#}
{#        <div class="home-container">#}
            <div class="home-container-title">
                <i class="fa-solid fa-database"></i>
                <font face="微软雅黑" class="title-text">选课</font>
            </div>
            {% if not hasClass %}
            <div class="row notice-row">
                <p>暂无选课~</p>
            </div>
            {% endif %}
            <div class="row selection-row">
                {% autoescape off %}
                {{ selection_content }}
                {% endautoescape %}
            </div>
{#        </div>#}
    </div>
    <div class="col-xl-3 col-md-4">
        <div class="home-container info-home-container">
            <div class="home-container-title">
                <i class="fa-solid fa-circle-info"></i>
                <font face="微软雅黑" class="title-text">关于</font>
            </div>
            <div class="">
                <img src="{% static 'logos.jpg' %}" style="max-width: 100%;">
            </div>
            <p><font face="微软雅黑" class="about-text">此页面是华师大二附中机选页面</font></p>
            <p>
            <p><font face="微软雅黑" class="about-text">查看各社团介绍请至<a class="about-text-link" href="https://hsefz.aeilot.top"> EFZ 社团年鉴</a>。</font></p>
            <p>
            <font face="Nato Sans" class="about-text">Originally Made by <a class="about-text-link" href="https://www.xiaoyaowudi.com">2409 xiaoyaowudi</a></font>
            </p>
            <p>
            <font face="微软雅黑" class="about-text">Remade by <a class="about-text-link" href="https://aeilot.top">2507 满五</a></font>
            </p>
            <p>
                <font face="Nato Sans" class="about-text">如遇问题请联系 <a class="about-text-link" href="mailto:shenyunjie@hsefz.cn">shenyunjie@hsefz.cn</a></font>
            </p>
        </div>
    </div>
</div>

{% endblock %}