{% extends "user_settings.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block include %}

{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'user_info.css' %}">

{% endblock %}

{% block title %}

<title>{{ title }}</title>

{% endblock %}

{% block settings_content %}

<div class="settings_title">
    <font face="Nato Sans">
        个人信息
    </font>
</div>

<div style="margin-top: 1rem;">
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <bold>姓名</bold> <span>{{ real_name }}</span>
            </p>
            <p class="card-text">
                <bold>班级</bold> <span>{{ id }}</span>
            </p>
            <p class="card-text">
                <bold>邮箱</bold> <span>{{ email }}</span>
            </p>
            <p class="card-text">
                <bold>组</bold> <span>{{ group }}</span>
            </p>
        </div>
    </div>
    <br>
    <p>如有疑问请联系&nbsp;<a href="mailto:shenyunjie@hsefz.cn">shenyunjie@hsefz.cn</a></p>
</div>

{% endblock %}