{% extends "user_settings.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block include %}

{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'user_security.css' %}">

{% endblock %}

{% block title %}

<title>{{ title }}</title>

{% endblock %}

{% block settings_content %}

<div class="settings_title">
        <font face="Nato Sans">
            修改密码
        </font>
</div>

<div class="modify-password">
    {% crispy modify_password_form modify_password_form.helper %}
</div>
<script src="{% static 'user_security.js' %}" type="text/javascript"></script>

{% endblock %}