{% extends "user_settings.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block include %}

{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'modify_event.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'event_manage.css' %}">



{% endblock %}

{% block title %}

<title>{{ title }}</title>

{% endblock %}

{% block settings_content %}

<div class="settings_title">
  <font face="Nato Sans">
    导出/导入数据
  </font>
</div>

<div class="d-inline-flex btn-div">

    <input type="file" name="csv" id="csv-upload" accept=".csv">
    <button class="btn btn-outline-info" id="import-button">
      导入
    </button>
  <button class="btn btn-outline-info" id="export-button">
    导出
  </button>
</div>


<script src="{% static 'youth_league_course_score_manage.js' %}" type="text/javascript"></script>

{% endblock %}
