{% extends 'youth_league/base.html' %}

{% load static %}

{% block include %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home-youth_league.css' %}">

<script src="{% static 'youth_league_homework_inquiry.js' %}"></script>


{% endblock %}

{% block title %}

<title>EFZ数字生活·团课系统·分数查询</title>

{% endblock %}

{% block body %}

<div class="container main-container">
    <div class="row gx-5 justify-content-center">
        
        <div class="col" style="overflow-x: auto; overflow-y: hidden; margin-top: 10px;">
            <div class="detail-container">
                <div class="col-lg score-table">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th class="name-title">课程名称</th>
                                <th class="snum-title">上课时间</th>
                                <th class="date-title">作业得分</th>
                                <th class="date-title">作业均分</th>
                                <th class="date-title">作业最高分</th>
                                <th class="date-title">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% autoescape off %}
                            {{ content }}
                            {% endautoescape %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>


  
    <div class="modal fade" id="appeal-window" data-backdrop="static" role="dialog" data-keyboard="false" tabindex="-1" aria-labelledby="appealWindowLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <form method="post" action="">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="appeal-window-label">申诉</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="appeal-window-input">请书写您遇到的问题：</label>
                            {% csrf_token %}
                            <input type="hidden" id="appeal-window-course-id" name="course_id">
                            <textarea class="form-control" id="appeal-window-input" name="appeal_content" rows="10">{{ form.appeal_content }}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>



                </div>
            </form>
        </div>
    </div>
    {% autoescape off %}
    {{ debug }}
    {% endautoescape %}


</div>

{% endblock %}